<%-include('../layout/adminHeader')-%>


    <body id="reportsPage">
        <div class="" id="home">
            <nav class="navbar navbar-expand-xl">
                <div class="container h-100">
                    <a class="navbar-brand" href="/">
                        <h1 class="tm-site-title mb-0">Admin</h1>
                    </a>
                    <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars tm-nav-icon"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto h-100">
                            <li class="nav-item">
                                <a class="nav-link active" href="/">
                                    <i class="fas fa-tachometer-alt"></i>
                                    Dashboard
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="far fa-file-alt"></i>
                                    <span>
                                        Reports <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/admin/report?period=Weekly">Weekly Report</a>
                                    <a class="dropdown-item" href="/admin/report?period=Monthly">monthly Report</a>
                                    <a class="dropdown-item" href="/admin/report?period=Yearly">Yearly Report</a>
                                    <a class="dropdown-item" href="/admin/report?period=Custom">Custom Report</a>

                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/productAdmin">
                                    <i class="fas fa-shopping-cart"></i>
                                    Products
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/couponAdmin">
                                    <i class="fa-solid fa-ticket"></i>
                                    Coupon
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link " href="/admin/ViewCategory">
                                    <i class="fa-solid fa-layer-group"></i>
                                    Category
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/admin/ViewOffer">
                                    <i class="fa-regular fa-envelope"></i>
                                     Offer
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/clientview">
                                    <i class="far fa-user"></i>
                                    Accounts
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-cog"></i>
                                    <span>
                                        Settings <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Billing</a>
                                    <a class="dropdown-item" href="#">Customize</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link d-block" href="/admin/logoutadmin">
                                    Admin, <b>Logout</b>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
                    </div>
                </div>
                <!-- row -->
                <div class="row tm-content-row">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                        <div class="tm-bg-primary-dark tm-block">
                            <h2 class="tm-block-title">Latest Hits</h2>
                           
                            
                            <input type="radio" style=" cursor: pointer;"  onclick="drawLineChart('<%=data.monthDeliverd%>','<%=data.monthCancel%>','<%=data.monthPlaced%>','<%=data.monthRetrun%>','<%=data.currentMonthLabel%>')" name="date" id="month" >
                            <label for="month" style="color:aliceblue;cursor: pointer;">Monthly</label>
                            <input type="radio" style=" cursor: pointer;" onclick="drawLineChart('<%=data.yearlyDeliverd%>','<%=data.yearlyCancel%>','<%=data.yearlyPlaced%>','<%=data.yearlyRetrun%>','<%=data.yearlyData%>')" name="date" id="year" >
                            <label for="year" style="color:aliceblue;cursor: pointer;">Yearly</label>
                            <canvas id="lineChart"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                        <div class="tm-bg-primary-dark tm-block">
                            <h2 class="tm-block-title">Performance</h2>
                            <canvas id="barChart"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                        <div class="tm-bg-primary-dark tm-block tm-block-taller">
                            <h2 class="tm-block-title">Storage Information</h2>
                            <div id="pieChartContainer">
                                <canvas id="pieChart" class="chartjs-render-monitor" width="200" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                        <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                            <h2 class="tm-block-title">Top selling Product</h2>
                            <div class="tm-notification-items">
                                
                                
                               
                                
                               
                               
                                
                              
                              <% if(data.prouductData.length>0){ %>
                               <% data.prouductData.forEach(ele=>{ %> 
                                
                              <div class="media tm-notification-item">
                                    <div class="tm-gray-circle"><img src="/productImage/<%=ele.image[0]%>" width="87" height="87" alt="Avatar Image"
                                      class="rounded-circle"></div>
                                      <div class="media-body">
                                        <p class="mb-2"><b><%=ele.name%></b> .</p>
                                         
                                        </div>
                                      </div>
                                      <% }) } %>
                                    </div>
                                  </div>
                    </div>
                    <div class="col-12 tm-block-col">
                        <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                            <h2 class="tm-block-title">Orders List</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ORDER NO.</th>
                                        <th scope="col">CUSTOMER</th>
                                        <th scope="col">PAYMENT METHOD</th>
                                        <th scope="col">description</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">DATE</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <%if(order.length >0){%>

                                        <% order.forEach(data=> { %>
                                          
                                                <tr>
                                                <th scope="row"><b><%=data._id%>
                                                       
                                                    </b></th>
                                                    <td>
                                                        
                                                        <b>
                                                            <%=data.clientId.fname%>
                                                        </b>
                                                        
                                                    </td>
                                                    <td><b>
                                                        <%=data.paymentMethod%>
                                                    </b></td>
                                                    <td><%=data.dectription%></td>
                                                <td id="status<%=data._id%>"><b>
                                                    <%=data.orderStatus%>
                                                </b></td>
                                                <td>
                                                    <%=data.date.toLocaleDateString()%>
                                                </td>
                                                <td><a
                                                    href="/admin/orderlist?orderId=<%=data._id%>"><b>
                                                        VIEW</b></a></td>
                                                    </tr>
                                                    <% }); %>
                                                    <% }; %>
                                 

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <%-include('../layout/adminFooter')-%>
            <script>
                function statusChange(order_id) {
                  console.log(order_id)
        
                 
                  const option = document.getElementById(`option${order_id}`).value
                  console.log(option)
                  fetch('/admin/updateSatus', {
                    method: "POST",
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ option, order_id })
                  }).then(res => res.json()).then(data => {
                    if (data) {
                        console.log(data)

                      const status = document.getElementById(`status${order_id}`).innerText = option
                      console.log(status)
                    }
        
                  })
                }
              </script>
        </div>

        <script src="js/jquery-3.3.1.min.js"></script>
        <!-- https://jquery.com/download/ -->
        <script src="js/moment.min.js"></script>
        <!-- https://momentjs.com/ -->
        <script src="js/Chart.min.js"></script>
        <!-- http://www.chartjs.org/docs/latest/ -->
        <script src="js/bootstrap.min.js"></script>
        <!-- https://getbootstrap.com/ -->
       <script>
        const width_threshold = 480;

function drawLineChart(deliverd,canceled,Placed,Return,Label) {
console.log( deliverd,canceled,Return)
  if ($("#lineChart").length) {
    ctxLine = document.getElementById("lineChart").getContext("2d");
    optionsLine = {
      scales: {
        yAxes: [
          {
            scaleLabel: {
              display: true,
              labelString: "Hits"
            }
          }
        ]
      }
    };

    // Set aspect ratio based on window width
    optionsLine.maintainAspectRatio =
      $(window).width() < width_threshold ? false : true;

    configLine = {
      type: "line",
      data: {
        labels:Label.split(','),
        datasets: [
        {
            label: "Placed",
            data: Placed.split(','),
            fill: false,
            borderColor: "#A8D582",
            cubicInterpolationMode: "monotone",
            pointRadius: 0
          },
          {
            label: "Deliverd",
            data: deliverd.split(','),
            fill: false,
            borderColor: "rgb(75, 192, 192)",
            cubicInterpolationMode: "monotone",
            pointRadius: 0
          },
          {
            label: "Canceled",
            data: canceled.split(','),
            fill: false,
            borderColor: "rgba(255,99,132,1)",
            cubicInterpolationMode: "monotone",
            pointRadius: 0
          },
          {
            label: "Return",
            data: Return.split(','),
            fill: false,
            borderColor: "#F7604D",
            cubicInterpolationMode: "monotone",
            pointRadius: 0
          }
        ]
      },
      options: optionsLine
    };

    lineChart = new Chart(ctxLine, configLine);
  }
}

function drawBarChart() {
  if ($("#barChart").length) {
    ctxBar = document.getElementById("barChart").getContext("2d");

    optionsBar = {
      responsive: true,
      scales: {
        yAxes: [
          {
            barPercentage: 0.2,
            ticks: {
              beginAtZero: true
            },
            scaleLabel: {
              display: true,
              labelString: "Hits"
            }
          }
        ]
      }
    };

    optionsBar.maintainAspectRatio =
      $(window).width() < width_threshold ? false : true;

    /**
     * COLOR CODES
     * Red: #F7604D
     * Aqua: #4ED6B8
     * Green: #A8D582
     * Yellow: #D7D768
     * Purple: #9D66CC
     * Orange: #DB9C3F
     * Blue: #3889FC
     */

    configBar = {
      type: "horizontalBar",
      data: {
        labels: ["Red", "Aqua", "Green", "Yellow", "Purple", "Orange", "Blue"],
        datasets: [
          {
            label: "# of Hits",
            data: [33, 40, 28, 49, 58, 38, 44],
            backgroundColor: [
              "#F7604D",
              "#4ED6B8",
              "#A8D582",
              "#D7D768",
              "#9D66CC",
              "#DB9C3F",
              "#3889FC"
            ],
            borderWidth: 0
          }
        ]
      },
      options: optionsBar
    };

    barChart = new Chart(ctxBar, configBar);
  }
}

function drawPieChart(paymentMethod) {
    console.log(paymentMethod)
    const data= paymentMethod.split(',')
    console.log(data)
  if ($("#pieChart").length) {
    var chartHeight = 300;

    $("#pieChartContainer").css("height", chartHeight + "px");

    ctxPie = document.getElementById("pieChart").getContext("2d");

    optionsPie = {
      responsive: true,
      maintainAspectRatio: false,
      layout: {
        padding: {
          left: 10,
          right: 10,
          top: 10,
          bottom: 10
        }
      },
      legend: {
        position: "top"
      }
    };

    configPie = {
      type: "pie",
      data: {
        datasets: [
          {
            data: paymentMethod.split(','),
            backgroundColor: ["#A8D582", "#4ED6B8", "#DB9C3F"],
            label: "Storage"
          }
        ],
        labels: [
          `Razorpay (${data[0]})`,
          `COD (${data[1]})`,
           ` Wallet (${data[2]})`
        ]
      },
      options: optionsPie
    };

    pieChart = new Chart(ctxPie, configPie);
  }
}

function updateLineChart() {
  if (lineChart) {
    lineChart.options = optionsLine;
    lineChart.update();
  }
}

function updateBarChart() {
  if (barChart) {
    barChart.options = optionsBar;
    barChart.update();
  }
}

       </script>
        <script>
            Chart.defaults.global.defaultFontColor = 'white';
            let ctxLine,
                ctxBar,
                ctxPie,
                optionsLine,
                optionsBar,
                optionsPie,
                configLine,
                configBar,
                configPie,
                lineChart;
            barChart, pieChart;
            // DOM is ready
            $(function () {
                
                drawLineChart('<%=data.monthDeliverd%>','<%=data.monthCancel%>','<%=data.monthPlaced%>','<%=data.monthRetrun%>','<%=data.currentMonthLabel%>'); // Line Chart
                drawBarChart(); // Bar Chart
                drawPieChart('<%=data.paymentMethod%>'); // Pie Chart

                $(window).resize(function () {
                    updateLineChart();
                    updateBarChart();
                });
            })
        </script>
    </body>

    </html>