<%-include('../layout/adminHeader')-%>

  <body id="reportsPage">
    <div class="" id="home">
      <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
          <a class="navbar-brand" href="/">
            <h1 class="tm-site-title mb-0">Accounts Admin</h1>
          </a>
          <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars tm-nav-icon"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <i class="fas fa-tachometer-alt"></i> Dashboard
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="far fa-file-alt"></i>
                  <span> Reports <i class="fas fa-angle-down"></i> </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Daily Report</a>
                  <a class="dropdown-item" href="#">Weekly Report</a>
                  <a class="dropdown-item" href="#">Yearly Report</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/productAdmin">
                  <i class="fas fa-shopping-cart"></i> Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/admin/ViewCategory">
                    <i class="fa-solid fa-layer-group"></i>
                    Category
                </a>
            </li>

              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <i class="far fa-user"></i> Accounts
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-cog"></i>
                  <span> Settings <i class="fas fa-angle-down"></i> </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Billing</a>
                  <a class="dropdown-item" href="#">Customize</a>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link d-block" href="/admin/logoutadmin">
                  Admin, <b>Logout</b>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        <div class="row tm-content-row">
          <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
              <h2 class="tm-block-title">List of Users</h2>

              <!-- Search Bar -->
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="myInput" placeholder="Search for users..."
                  onkeyup="myFunction()">
              </div>
              <input type="hidden" name="data" id="data" value="<%=data%>">
              <table class="table table-striped" id="myTable">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>email</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody id="userTableBody">
                  <!-- Example user data, replace this with your actual user data -->
                  <% if(data.length>0){
                    for(let i=0;i<data.length;i++){ %>
                      <tr>

                        <td>
                          <%=i+1%>
                        </td>
                        <td>
                          <%=data[i].fname%>
                        </td>
                        <td>
                          <%=data[i].email%>
                        </td>
                        <td>

                          <a href="/admin/editUser?id=<%=data[i]._id%>"><button
                              class="btn btn-info btn-sm">Edit</button></a>
                          
                              <%if(data[i].is_block==true){%>

                                <button onclick="blockUser('<%=data[i]._id%>')"
                                  id="block<%=data[i]._id%>" style="width: 110px;"  class="btn btn-warning btn-sm">Block</button>
                               <% }else{%>
                                  <button onclick="blockUser('<%=data[i]._id%>')"
                                  id="block<%=data[i]._id%>"  class="btn btn-warning btn-sm">Unblock</button>

                              <% }%>
                        </td>
                      </tr>
                      <% } }else{ %>
                        <tr>
                          <td colspan="5">users not found</td>
                        </tr>
                        <% } %>
                </tbody>

              </table>

              </table>
            </div>
          </div>
        </div>
        <script>
          function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td")[1];
              if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                } else {
                  tr[i].style.display = "none";
                }
              }
            }
          }




        </script>


        <!-- <div class="row tm-content-row">
          <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
              <h2 class="tm-block-title">List of Accounts</h2>
              <p class="text-white">Accounts</p>
              <select class="custom-select">
                <option value="0">Select account</option>
                <option value="1">Admin</option>
                <option value="2">Editor</option>
                <option value="3">Merchant</option>
                <option value="4">Customer</option>
              </select>
            </div>
          </div>
        </div> -->
        <!-- row -->

      </div>
      <%-include('../layout/adminFooter')-%>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->

  </body>
  <script>
    function blockUser(ID){

      const blockBtn = document.getElementById(`block${ID}`).innerText
      console.log(blockBtn)
      console.log(blockBtn=="Block")
      if(blockBtn=='Block'){
        const blockBtn = document.getElementById(`block${ID}`).innerHTML="Unblock"

      }else{
        const blockBtn = document.getElementById(`block${ID}`).innerHTML="Block"


      }
      console.log("dsdsksdjsdkl")
fetch(` /admin/blockClient?id=${ID}`,{
  method:'GET',
 
})
    }
    
    </script>

  </html>