<%-include('../layout/adminHeader')-%>

  <body>
    <script src="https://jsuites.net/v4/jsuites.js"></script>
<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/@jsuites/cropper/cropper.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@jsuites/cropper/cropper.min.css" type="text/css" />

    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand" href="/">
          <h1 class="tm-site-title mb-0">Product Admin</h1>
        </a>
        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto h-100">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="fas fa-tachometer-alt"></i> Dashboard
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="far fa-file-alt"></i>
                <span> Reports <i class="fas fa-angle-down"></i> </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Daily Report</a>
                <a class="dropdown-item" href="#">Weekly Report</a>
                <a class="dropdown-item" href="#">Yearly Report</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/admin/productAdmin">
                <i class="fas fa-shopping-cart"></i> Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/admin/ViewCategory">
                  <i class="fa-solid fa-layer-group"></i>
                  Category
              </a>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/clientview">
                <i class="far fa-user"></i> Accounts
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog"></i>
                <span> Settings <i class="fas fa-angle-down"></i> </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Billing</a>
                <a class="dropdown-item" href="#">Customize</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link d-block" href="/admin/logoutadmin">
                Admin, <b>Logout</b>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Edit Product</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="/admin/Updateproduct" method="post" class="tm-edit-product-form"
                  enctype="multipart/form-data">
                  <input type="hidden" id="productId" value="<%=id%>" name="id">
                  <div class="form-group mb-3">
                    <label for="name">Product Name
                    </label>
                    <input id="name" name="name" type="text" value="<%=productData.name %>"
                      class="form-control validate" required />
                  </div>
                  <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <textarea class="form-control validate tm-small" rows="5" name="description" value=""
                      required><%=productData.productDescription %></textarea>
                  </div>
                  <div class="form-group mb-3">
                    <label for="category">Category</label>
                    <select class="custom-select tm-select-accounts" id="category" name="category">

                      <% if(category.length){%>
                        <% category.forEach(data=> {%>

                          <option value="<%=data._id%>" selected>
                            <%=data.name%>
                          </option>
                          <%})%>
                            <%}else{%>
                              <option value="" disabled selected>N/A</option>
                              <%}%>
                    </select>
                    <div class="custom-file mt-3 mb-3">
                      <div style="display: flex;">
                        <div id="image-cropper" style="border:1px solid black; margin: 5px;"></div>
                        <div id="image-cropper-result"><img style="width:120px; height:120px; margin: 5px;"></div>
                      </div>
                      <p><input type="button" value="Get cropped image" id="image-getter" class="jbutton dark"></p>
                      <script>
                        const a= cropper(document.getElementById('image-cropper'), {
                            area: [ 280, 280 ],
                            crop: [ 150, 150 ],
                        })
                        console.log(a.image)
                        
                        document.getElementById('image-getter').onclick = function() {
                           const binaryImage= document.getElementById('image-cropper-result').children[0].src =
                                document.getElementById('image-cropper').crop.getCroppedImage().src;
                              const productId= document.getElementById('productId').value
                             
                                fetch('/admin/cropImage',{
                                  method:"POST",
                                  method: 'POST',
                                  headers: {
                                    'Content-Type': 'application/json'
                                  },
                                  body: JSON.stringify({ binaryImage,productId })
                                }).then(res => res.json()).then(data => {
                                  console.log(data)
                    

                    })
                        }
                        </script>
                  </div>
                  <div class="row">
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="stock">Units In Stock
                      </label>
                      <input id="stock" name="quantity" type="number" min="0" value="<%=productData.quantity %>"
                        class="form-control validate" />
                    </div>
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                    </div>
                  </div>

              </div>
              <script>
                function delectTheImage(image, id, i) {
                  console.log(i)
                  const rowImage = document.getElementById(`row${i}`)
                  console.log(image, id, rowImage)
                  fetch('/admin/delectTheImage', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ image, id })
                  }).then(res => res.json()).then(data => {
                    if (rowImage) {
                      rowImage.remove()
                    }

                  })



                }
              </script>

                <input id="fileInput" onchange="checkImage(event)" accept="image/*"  type="file" name="image" multiple />
<script>
  const inputImage = document.getElementById('fileInput')
  console.log(inputImage)
function checkImage(event){
  const files = event.target.files
  
  if(files.length>4){
    alert("image only 4 allowed")
    inputImage.value=""
  }
  
}
</script>
              </div>
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Now</button>
            </div>
            </form>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 mx-auto mb-4"> 
                <% if (productData.image.length > 0) { %>
                  <% for (let i = 0; i < productData.image.length; i++) { %>
                    <% if (i % 2 === 0) { %> 
                      <div class="row">
                    <% } %>
                    <div id="row<%= i %>" class="col-xl-6 col-lg-6 col-md-6">
                      <div class="image-button-wrapper">
                        <div id="draggable" class="image-container" draggable="true" ondrag="abc()">
                          <img src="/productImage/<%= productData.image[i] %>" width="150" height="150" alt="">
                        </div>
                        <div class="button-container">
                          <input type="submit" value="delete" onclick="delectTheImage('<%= productData.image[i] %>','<%= productData._id %>','<%= i %>')">
                        </div>
                      </div>
                    </div>
                    <% if ((i + 1) % 2 === 0 || i === productData.image.length - 1) { %> 
                      </div>
                    <% } %>
                  <% } %>
                <% } %>
              </div>
            </div>
                    <style>
                      .row {
                        display: flex;
                          align-items: flex-start;
                        }

                        .image-container,
                        .button-container {
                          display: block;
                          margin-right: 10px;
                        }
                      </style>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function abc(){
        let dragExecuted = false
        if (!dragExecuted) {
    // Execute your function with arguments
    abd(); // Pass the arguments
    
    dragExecuted = true;
    
    event.target.addEventListener('dragend', () => {
      dragExecuted = false;
    });
  }
  function abd(){

    console.log("jsdikljsdlkjm")
  }
    }
    </script>
    <%-include('../layout/adminFooter')-%>

      <script src="js/jquery-3.3.1.min.js"></script>
      <!-- https://jquery.com/download/ -->
      <script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
      <!-- https://jqueryui.com/download/ -->
      <script src="js/bootstrap.min.js"></script>
      <!-- https://getbootstrap.com/ -->
      <script>
        $(function () {
          $("#expire_date").datepicker({
            defaultDate: "10/22/2020"
          });
        });
      </script>
      
  </body>

  </html>