<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Corona Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/admin/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/admin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/admin/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/admin/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/admin/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/admin/vendors/owl-carousel-2/owl.theme.default.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
 

  <link rel="stylesheet" href="/admin/css/style.css">
  <link rel="shortcut icon" href="/admin/images/favicon.png" />

  <style>
       .container {
        margin-top: 124px;
      }

.form-group {
    margin-bottom: 20px;
}

.table-container {
    margin-top: 50px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.table-container th, .table-container td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.table-container th {
    background-color: #100126;
}

.filter-table {
    margin-bottom: 20px;
}

.filter-table input[type="text"], .filter-table select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.button-container {
    margin-bottom: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #737f74;
}
.dropdown-menu .dropdown-item {
  color: rgb(251, 255, 251);
  font-weight: 600;
}

.dropdown-menu .dropdown-item:hover {
  background-color: lightgreen;
}

.dropdown-menu .dropdown-item:focus {
  background-color: lightgreen;
  outline: none;
}
  </style>

</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
  
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->
     
      <!-- partial -->
      <div class="container">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle"
              data-toggle="dropdown">DOWNLOAD</button>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="#" onclick="downloadPDF('printThisDiv')"
                  style="color: green; font-weight: 600;">Download as PDF</a>
              <a class="dropdown-item" href="#" onclick="downloadExcel('printThisDiv')"
                  style="color: green; font-weight: 600;">Download as Excel</a>
          </div>
        </div>


        <h4 class="text-center">Sales Report</h4>
        <form id="salesReportForm" class="filter-table" action="/admin/salesreport" method="post">
          <label for="from-date">From:</label>
          <input type="date" id="from-date" name="fromdate" required>
          <label for="to-date">To:</label>
          <input type="date" id="to-date" name="todate" required>
          <button type="submit">Filter</button>
      </form>

<div id="printThisDiv" class="table-container">
    <% if (order.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>PaymentMethod</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Customer Name</th>
                </tr>
            </thead>
            <tbody>
                <% order.forEach(orderItem => { %>
                    <tr>
                        <td><%= orderItem._id %></td>
                        <% if (orderItem.products.length > 0 && orderItem.products[0].productId) { %>
                          <td><%= orderItem.products[0].productId.name %></td>
                      <% } else { %>
                          <td>No Product</td>
                      <% } %>                        
                        <td><%= orderItem.date.toISOString().substring(0, 10) %></td>
                        <td><%= orderItem.paymentMethod%></td>
                        <td><%= orderItem.orderStatus %></td>
                        <td>₹<%= orderItem.payment %>/-</td>
                        <!-- <td><%= orderItem.username %></td> -->
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No Sales Have been Occurred</p>
    <% } %>
</div>

</div>
  
        </div>
        </div>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  </div>
 

    
    
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/admin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/admin/vendors/chart.js/Chart.min.js"></script>
  <script src="/admin/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/admin/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/admin/vendors/owl-carousel-2/owl.carousel.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntX5" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/admin/js/off-canvas.js"></script>
  <script src="/admin/js/hoverable-collapse.js"></script>
  <script src="/admin/js/misc.js"></script>
  <script src="/admin/js/settings.js"></script>
  <script src="/admin/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="/admin/js/dashboard.js"></script>
  <!-- End custom js for this page -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <script>

const salesReportForm = document.getElementById('salesReportForm');
    const fromDateInput = document.getElementById('from-date');
    const toDateInput = document.getElementById('to-date');

    salesReportForm.addEventListener('submit', (event) => {
        const fromDate = new Date(fromDateInput.value);
        const toDate = new Date(toDateInput.value);
        const today = new Date();

        if (fromDate > today) {
            event.preventDefault();
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'From date cannot be greater than today date!',
            });
            return;
        }

        if (toDate > today) {
            event.preventDefault();
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'To date cannot be greater than today date!',
            });
            return;
        }

        if (fromDate > toDate) {
            event.preventDefault();
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'From date cannot be greater than To date.',
            });
            return;
        }
    });



       function downloadPDF(divName) {
            const printContents = document.getElementById(divName).innerHTML;
            const originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }

        function downloadExcel(divName) {
    const table = document.getElementById(divName);
    const rows = table.getElementsByTagName('tr');
    let csvContent = "data:text/csv;charset=utf-8,";

    for (const row of rows) {
        const cells = row.getElementsByTagName('td');
        const cellValues = [];
        for (const cell of cells) {
            cellValues.push(cell.textContent);
        }
        csvContent += cellValues.join(',') + '\n';
    }

    const encodedUri = encodeURI(csvContent);
    const link = document.createElement('a');
    link.setAttribute('href', encodedUri);
    link.setAttribute('download', 'data.csv');
    document.body.appendChild(link);

    link.click();
    document.body.removeChild(link);
}

  </script>

</body>

</html>