<%-include('../layout/adminHeader')-%>


  <body>
    <div>
      <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
          <a class="navbar-brand" href="index.html">
            <h1 class="tm-site-title mb-0">Product Admin</h1>
          </a>
          <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars tm-nav-icon"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">
                <li class="nav-item">
                    <a class="nav-link " href="/">
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active dropdown">

                    <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-file-alt"></i>
                        <span>
                            Reports <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/admin/report?period=Weekly">Weekly Report</a>
                        <a class="dropdown-item" href="/admin/report?period=Monthly">monthly Report</a>
                        <a class="dropdown-item" href="/admin/report?period=Yearly">Yearly Report</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/productAdmin">
                        <i class="fas fa-shopping-cart"></i>
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/couponAdmin">
                        <i class="fa-solid fa-ticket"></i>
                        Coupon
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link " href="/admin/ViewCategory">
                        <i class="fa-solid fa-layer-group"></i>
                        Category
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/admin/ViewOffer">
                        <i class="fa-regular fa-envelope"></i>
                         Offer
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/clientview">
                        <i class="far fa-user"></i>
                        Accounts
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                        <span>
                            Settings <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Billing</a>
                        <a class="dropdown-item" href="#">Customize</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link d-block" href="/admin/logoutadmin">
                        Admin, <b>Logout</b>
                    </a>
                </li>
            </ul>
        </div>
        </div>
      </nav>
    </div>

    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <input type="text" style="margin-top: 40px;margin-left: 17px;"  onclick="downloadPDF('printDive')"  value="Download as PDF">
        <input type="text" style="margin-top: 40px;margin-left: 17px;"  onclick="downloadExcel('printDive')"  value="Download as Excel">
        
        <script>
        function downloadExcel(divName) {
            const table = document.getElementById(divName);
            const rows = table.getElementsByTagName('tr');
            let csvContent = "data:text/csv;charset=utf-8,";
        
            for (const row of rows) {
                const cells = row.getElementsByTagName('td');
                const cellValues = [];
                for (const cell of cells) {
                    cellValues.push(cell.textContent);
                }
                csvContent += cellValues.join(',') + '\n';
            }
        
            const encodedUri = encodeURI(csvContent);
            const link = document.createElement('a');
            link.setAttribute('href', encodedUri);
            link.setAttribute('download', 'data.csv');
            document.body.appendChild(link);
        
            link.click();
            document.body.removeChild(link);
        }
    </script>
        <div class="col-12 tm-block-col">
          <div id="printDive" class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
            <h2 class="tm-block-title"><%=reportPeriod%> DATA</h2>

            <table class="table">
              <thead>
                <tr>
                    
                  
                  <th scope="col">Order ID</th>
                  <th scope="col">customer</th>
                  <th scope="col">Product</th>
                  <th scope="col">Date</th>
                  <th scope="col">PaymentMethod</th>
                  <th scope="col">Total</th>


                </tr>
              </thead>
              <tbody>
                <%if(data.length>0){%>
                <%data.forEach(ele=>{%>
                   
                  <tr>
                    <th scope="row"><b><%=ele._id%></b></th>
                    <td>
                      <b>
                     <%=ele.clientId.username%>
                      </b>
                    </td>
                    <td><b>
                        <%ele.products.forEach(data=>{%>
                      <%=data.productId.name%>
                      <%})%>
                      </b></td>
                    <td><%=ele.date.toLocaleDateString()%></td>
                    <td><b id="statusView">
                        <%=ele.paymentMethod%>
                      </b></td>
                   <td><%=ele.payment%></td>
                    
                    
                  </tr>
                  
                  <%})%>
                  <tr>
                    <td>Weekly Order:<%=report[0].totalOrders%></td>
                    <td>TotalAmount:<%=report[0].totalSales%></td>
                    <td> 
                      <%}%>
             
                 
             
                 
          </div></td>
                  </tr>

          

              </tbody>
            </table>
          </div>
        </div>
        <form action="report">

          <label for="startDate" style="color: aliceblue;">Start Date</label>
          
          <input type="date" id="startDate" name="startDate" style="height: 50px;" required>
          <br>
          <label for="endDate" style="color: aliceblue;">end Date</label>
          <input type="hidden" name="period" value="custom">
          <input type="date" id="endDate" name="endDate" style="height: 50px;"  required>
          <br>
          <input type="submit">
        </form>
      </div>
    </div>
    </div>
    <%-include('../layout/adminFooter')-%>
    <script>
         function downloadPDF(divName) {
            const printContents = document.getElementById(divName).innerHTML;
            const originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
      <script src="js/jquery-3.3.1.min.js"></script>
      <!-- https://jquery.com/download/ -->
      <script src="js/bootstrap.min.js"></script>
      <!-- https://getbootstrap.com/ -->
      <script>
        function statusChange(product_id) {
          console.log(product_id)

         
          const option = document.getElementById(`status${product_id}`).value
          console.log(option)
          fetch('/admin/updateSatusOfOrderProduct', {
            method: "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ option, product_id})
          }).then(res => res.json()).then(data => {
            if (data) {
              const status = document.getElementById(`statusView${product_id}`).innerText = option
            }

          })
        }
      </script>
  </body>

  </html>