<%-include('../layout/adminHeader')-%>

  <body id="reportsPage">
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand" href="/">
          <h1 class="tm-site-title mb-0">Category Admin</h1>
        </a>
        <div>
          
        </div>
        <button
          class="navbar-toggler ml-auto mr-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto h-100">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="fas fa-tachometer-alt"></i> Dashboard
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                <i class="far fa-file-alt"></i>
                <span> Reports <i class="fas fa-angle-down"></i> </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Daily Report</a>
                <a class="dropdown-item" href="#">Weekly Report</a>
                <a class="dropdown-item" href="#">Yearly Report</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/admin/viewCategory">
                <i class="fas fa-shopping-cart"></i> Category
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/clientview">
                <i class="far fa-user"></i> Accounts
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-cog"></i>
                <span> Settings <i class="fas fa-angle-down"></i> </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admin/productAdmin">Products</a>

                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Billing</a>
                <a class="dropdown-item" href="#">Customize</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link d-block" href="/admin/logoutadmin">
                Admin, <b>Logout</b>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-5">
      <div class="row justify-content-center ">
        <div class="col-sm-12 col-md-12 col-lg-8 col-12 col-xl-8 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div id="#load" class="tm-product-table-container" >
              <input type="hidden" value="<%=category%>">
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>

                    <th scope="col">&nbsp;</th>
                    <th scope="col">CATEGORY NAME</th>
                    <th scope="col">DESCRIPTION</th>



                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
              
                <tbody>
                  <% if(category.length >0){
                    
                    category.forEach(data=> {%>
                  <tr  id="row">
                    <th scope="row"><input type="checkbox" /></th>
                    <td class="tm-product-name"><a href="/admin/editCategory?id=<%=data._id%>" style="color: #dee2e6;"><%=data.name%></a></td>
                    
                    <td><%=data.description%></td>

                      
                    <td>
                     
                       
                        <span id="softDelete"  onclick="statusBlock('<%=data.name%>','<%=data._id%>')" class="material-symbols-outlined ">block</span>
                        
                     
                      </a>
                    </td>
                      
                      
                  </tr>
                  
                  <%
            })
        }else{
            %>
            <tr>
                <td colspan="5">users not found</td>
                </tr>
                <%
            }
            %>

                  </tbody>
                </table>


               <script>
               
                function statusBlock(name, id) {
                   icone = document.getElementById('softDelete');
                  console.log(icone)
    console.log(id);
    console.log(name);
    fetch('/admin/statusCategory', {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ name })
      }).then(res => res.json()).then(data => {
        if (data.status == true) {
            const icon = document.getElementById('softDelete');
            icon.style.color = "#dee2e6"; // Set color to #dee2e6
            localStorage.setItem('softDeleteColor', '#dee2e6'); // Store color in localStorage
            Swal.fire({
                icon: 'success',
                title: 'unblock',
                customClass: {
                    popup: "custom-popup-class",
                    header: 'custom-header-class',
                    content: 'custom-content-class',
                    confirmButton: 'custom-confirm-button-class'
                }
            });
        } else {
            const icon = document.getElementById('softDelete');
            icon.style.color = "red";
            localStorage.setItem('softDeleteColor', 'red'); // Store color in localStorage
            Swal.fire({
                icon: 'error',
                title: 'block',
                customClass: {
                    popup: "custom-popup-class",
                    header: 'custom-header-class',
                    content: 'custom-content-class',
                    confirmButton: 'custom-confirm-button-class'
                }
            });
        }
    }).catch(error => {
        console.error('Error deleting record:', error);
    });
  }
  document.addEventListener('DOMContentLoaded', () => {
    // Retrieve the stored color from localStorage
    const storedColor = localStorage.getItem('softDeleteColor'); // Adjusted to use the same id
    const icon = document.getElementById('softDelete')
    // Check if there's a stored color
    if (storedColor) {
      // Set the color of the element based on the stored color
    icon.style.color = storedColor;
}
});
                </script>
            </div>
            <!-- table container -->
            
              <a href="/admin/addCategory">
              <button  class="btn btn-primary btn-block text-uppercase mb-3">
                Add new category
                </button>
               
          </div>
        
      </div>
        
        </div>
    </div>
    <%-include('../layout/adminFooter')-%>

    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    // <script>
    //   $(function() {
    //     $(".tm-product-name").on("click", function() {
    //       window.location.href = "/admin/editProduct";
    //     });
    //   });
    // </script>
  </body>
</html>