<%-include('../layout/clientHeader')-%>

    <body>
        <div class="page-wrapper">
            <header class="header">
                <div class="header-top">
                    
                </div><!-- End .header-top -->

                <div class="header-middle sticky-header">
                    <div class="container">
                        <div class="header-left">
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>

                            <a href="index.html" class="logo">
                                <img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                            </a>

                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="megamenu-container active">
                                        <a href="/" >Home</a>

                                      
                                    </li>
                                    <li>
                                        <a href="category.html" class="sf-with-ul">Shop</a>

                                        <div class="megamenu megamenu-md">
                                            <div class="row no-gutters">
                                                <div class="col-md-8">
                                                    <div class="menu-col">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="menu-title">Shop with sidebar</div>
                                                                <!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="category-list.html">Shop List</a></li>
                                                                    <li><a href="category-2cols.html">Shop Grid 2
                                                                            Columns</a></li>
                                                                    <li><a href="category.html">Shop Grid 3 Columns</a>
                                                                    </li>
                                                                    <li><a href="category-4cols.html">Shop Grid 4
                                                                            Columns</a></li>
                                                                    <li><a href="category-market.html"><span>Shop
                                                                                Market<span
                                                                                    class="tip tip-new">New</span></span></a>
                                                                    </li>
                                                                </ul>

                                                                <div class="menu-title">Shop no sidebar</div>
                                                                <!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="category-boxed.html"><span>Shop Boxed
                                                                                No Sidebar<span
                                                                                    class="tip tip-hot">Hot</span></span></a>
                                                                    </li>
                                                                    <li><a href="category-fullwidth.html">Shop Fullwidth
                                                                            No Sidebar</a></li>
                                                                </ul>
                                                            </div><!-- End .col-md-6 -->

                                                            <div class="col-md-6">
                                                                <div class="menu-title">Product Category</div>
                                                                <!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="product-category-boxed.html">Product
                                                                            Category Boxed</a></li>
                                                                    <li><a href="product-category-fullwidth.html"><span>Product
                                                                                Category Fullwidth<span
                                                                                    class="tip tip-new">New</span></span></a>
                                                                    </li>
                                                                </ul>
                                                                <div class="menu-title">Shop Pages</div>
                                                                <!-- End .menu-title -->
                                                                <ul>
                                                                    <li><a href="/cartView">Cart</a></li>
                                                                    <li><a href="checkout.html">Checkout</a></li>
                                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                                    <li><a href="dashboard.html">My Account</a></li>
                                                                    <li><a href="#">Lookbook</a></li>
                                                                </ul>
                                                            </div><!-- End .col-md-6 -->
                                                        </div><!-- End .row -->
                                                    </div><!-- End .menu-col -->
                                                </div><!-- End .col-md-8 -->

                                                <div class="col-md-4">
                                                    <div class="banner banner-overlay">
                                                        <a href="category.html" class="banner banner-menu">
                                                            <img src="assets/images/menu/banner-1.jpg" alt="Banner">

                                                            <div class="banner-content banner-content-top">
                                                                <div class="banner-title text-white">Last
                                                                    <br>Chance<br><span><strong>Sale</strong></span>
                                                                </div><!-- End .banner-title -->
                                                            </div><!-- End .banner-content -->
                                                        </a>
                                                    </div><!-- End .banner banner-overlay -->
                                                </div><!-- End .col-md-4 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .megamenu megamenu-md -->
                                    </li>
                                    <li>
                                        <a href="product.html" class="sf-with-ul">Product</a>

                                        <div class="megamenu megamenu-sm">
                                            <div class="row no-gutters">
                                                <div class="col-md-6">
                                                    <div class="menu-col">
                                                        <div class="menu-title">Product Details</div>
                                                        <!-- End .menu-title -->
                                                        <ul>
                                                            <li><a href="product.html">Default</a></li>
                                                            <li><a href="product-centered.html">Centered</a></li>
                                                            <li><a href="product-extended.html"><span>Extended Info<span
                                                                            class="tip tip-new">New</span></span></a>
                                                            </li>
                                                            <li><a href="product-gallery.html">Gallery</a></li>
                                                            <li><a href="product-sticky.html">Sticky Info</a></li>
                                                            <li><a href="product-sidebar.html">Boxed With Sidebar</a>
                                                            </li>
                                                            <li><a href="product-fullwidth.html">Full Width</a></li>
                                                            <li><a href="product-masonry.html">Masonry Sticky Info</a>
                                                            </li>
                                                        </ul>
                                                    </div><!-- End .menu-col -->
                                                </div><!-- End .col-md-6 -->

                                                <div class="col-md-6">
                                                    <div class="banner banner-overlay">
                                                        <a href="category.html">
                                                            <img src="assets/images/menu/banner-2.jpg" alt="Banner">

                                                            <div class="banner-content banner-content-bottom">
                                                                <div class="banner-title text-white">New
                                                                    Trends<br><span><strong>spring 2019</strong></span>
                                                                </div><!-- End .banner-title -->
                                                            </div><!-- End .banner-content -->
                                                        </a>
                                                    </div><!-- End .banner -->
                                                </div><!-- End .col-md-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .megamenu megamenu-sm -->
                                    </li>
                                   
                                  
                                   
                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div><!-- End .header-left -->

                        <div class="header-right">

                            <div class="header-search">
                                <a href="#" class="search-toggle" role="button" title="Search"><i
                                        class="icon-search"></i></a>
                                <form action="#" method="get">
                                    <div class="header-search-wrapper">
                                        <label for="q" class="sr-only">Search</label>
                                        <input type="search" class="form-control" name="q" id="q"
                                            placeholder="Search in..." required>
                                    </div><!-- End .header-search-wrapper -->
                                </form>
                            </div><!-- End .header-search -->
                            <div class="dropdown compare-dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" data-display="static"
                                    title="Compare Products" aria-label="Compare Products">
                                    <i class="icon-random"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="compare-products">
                                        <li class="compare-product">
                                            <a href="#" class="btn-remove" title="Remove Product"><i
                                                    class="icon-close"></i></a>
                                            <h4 class="compare-product-title"><a href="product.html">Blue Night
                                                    Dress</a></h4>
                                        </li>
                                        <li class="compare-product">
                                            <a href="#" class="btn-remove" title="Remove Product"><i
                                                    class="icon-close"></i></a>
                                            <h4 class="compare-product-title"><a href="product.html">White Long
                                                    Skirt</a></h4>
                                        </li>
                                    </ul>

                                    <div class="compare-actions">
                                        <a href="#" class="action-link">Clear All</a>
                                        <a href="#" class="btn btn-outline-primary-2"><span>Compare</span><i
                                                class="icon-long-arrow-right"></i></a>
                                    </div>
                                </div><!-- End .dropdown-menu -->
                            </div><!-- End .compare-dropdown -->

                            <div class="dropdown cart-dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <i class="icon-shopping-cart"></i>
                                    <span class="cart-count">2</span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-cart-products">
                                        <div class="product">
                                            <div class="product-cart-details">
                                                <h4 class="product-title">
                                                    <a href="product.html">Beige knitted elastic runner shoes</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span>
                                                    x $84.00
                                                </span>
                                            </div><!-- End .product-cart-details -->

                                            <figure class="product-image-container">
                                                <a href="product.html" class="product-image">
                                                    <img src="assets/images/products/cart/product-1.jpg" alt="product">
                                                </a>
                                            </figure>
                                            <a href="#" class="btn-remove" title="Remove Product"><i
                                                    class="icon-close"></i></a>
                                        </div><!-- End .product -->

                                        <div class="product">
                                            <div class="product-cart-details">
                                                <h4 class="product-title">
                                                    <a href="product.html">Blue utility pinafore denim dress</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span>
                                                    x $76.00
                                                </span>
                                            </div><!-- End .product-cart-details -->

                                            <figure class="product-image-container">
                                                <a href="product.html" class="product-image">
                                                    <img src="assets/images/products/cart/product-2.jpg" alt="product">
                                                </a>
                                            </figure>
                                            <a href="#" class="btn-remove" title="Remove Product"><i
                                                    class="icon-close"></i></a>
                                        </div><!-- End .product -->
                                    </div><!-- End .cart-product -->

                                    <div class="dropdown-cart-total">
                                        <span>Total</span>

                                        <span class="cart-total-price">
                                            <%=totalPrice%>
                                        </span>
                                    </div><!-- End .dropdown-cart-total -->

                                    <div class="dropdown-cart-action">
                                        <a href="/cartView" class="btn btn-primary">View Cart</a>
                                        <a href="checkout.html"
                                            class="btn btn-outline-primary-2"><span>Checkout</span><i
                                                class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .dropdown-cart-total -->
                                </div><!-- End .dropdown-menu -->
                            </div><!-- End .cart-dropdown -->
                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-middle -->
            </header><!-- End .header -->

            <main class="main">
                <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                    <div class="container">
                        <h1 class="page-title">Checkout<span>Shop</span></h1>
                    </div><!-- End .container -->
                </div><!-- End .page-header -->
                <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Shop</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                        </ol>
                    </div><!-- End .container -->
                </nav><!-- End .breadcrumb-nav -->

                <div class="page-content">
                    <div class="checkout">
                        <div class="container">
                            <div class="checkout-discount">
                                <form action="#">
                                    <input type="text" class="form-control" onkeydown="couponId(this,'<%=totalPrice%>')" required id="checkout-discount-input">
                                    <label for="checkout-discount-input" class="text-truncate">Have a coupon?
                                        <span>Click here to enter your code</span></label>
                                       
            
                                            <p id="error" style="color: red;display: none;"></p>

                                    </form>
                                </div><!-- End .checkout-discount -->
                                <div class="select-container">
                                    <select name="address" id="addressSelect">
                                        <% address.forEach(data=> { %>
                                            <option id="address" value="<%= data._id %>">
                                                pincode <%= data.pincode %> -MOBILE <%= data.mobile %>
                                            </option>
                                            <% }) %>
                                    </select>
                                    <style>
                                        .select-container {
                                            width: 300px;
                                            margin: 0 auto;
                                        }

                                        #addressSelect {
                                            width: 100%;
                                            padding: 10px;
                                            font-size: 16px;
                                            border-radius: 5px;
                                            border: 1px solid #ccc;
                                            outline: none;
                                        }

                                        #addressSelect option {
                                            padding: 5px;
                                        }
                                    </style>

                                </div>
                            
                                <div class="row">



                                   
                                    <aside class="col-lg-3 ">
                                        <div class="summary">
                                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
        
                                            <table class="table table-summary">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
        
                                                <tbody>
                                                    <%if(cart){%>
                                                    <% cart.products.forEach(data=>{%>
                                                        
                                                            
                                                                
                                                                
                                                                <tr>
                                                                    <td><a href="#"><%=data.productId.name%></a></td>
                                                                    <td>$<%=data.totalPrice%></td>
                                                                </tr>
                                                                <% })%>
                                                                <%}%>
                                                       
        
                                                    
                                                    <tr class="summary-subtotal">
                                                        <td>Subtotal:</td>
                                                        <td>$<%=totalPrice%>
                                                        </td>
                                                    </tr><!-- End .summary-subtotal -->
                                                    <tr>
                                                        <td>Shipping:</td>
                                                        <td>Free shipping</td>
                                                    </tr>
                                                    <tr class="summary-total">
                                                        <td>Total:</td>
                                                        <td id="totalPrice">
                                                            <%=totalPrice%>
                                                        </td>
                                                    </tr><!-- End .summary-total -->
                                                </tbody>
                                            </table><!-- End .table table-summary -->
        
                                            <div class="accordion-summary" id="accordion-payment">
                                                
                                                   
        
                                                
                                                    
                                                
        
                                                    <div class="card">
                                                        <div class="card-header" id="heading-3">
                                                            
                                                            <h2 class="card-title">
                                                                <input type="radio" value="COD" name="method" id="cod" required >
                                                                <label for="cod">Cash on delivery</label>
                                                            </h2>
                                                        </div><!-- End .card-header -->
                                                        
                                                    </div><!-- End .card -->
                                                    
                                                    <div class="card">
                                                        <div class="card-header" id="heading-4">
                                                            <h2 class="card-title">
                                                                <input type="radio" value="Razorpay" name="method" id="Razorpay" required >
                                                                <label for="Razorpay">Razorpay</label>
                                                            </h2>
                                                        </div><!-- End .card-header -->
                                                    
                                                        <div id="collapse-4" class="collapse" aria-labelledby="heading-4"
                                                        data-parent="#accordion-payment">
                                                        <div class="card-body">
                                                            Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non,
                                                            semper suscipit, posuere a, pede. Donec nec justo eget felis
                                                            facilisis fermentum.
                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .collapse -->
                                                </div><!-- End .card -->
        
                                                <div class="card">
                                                    <div class="card-header" id="heading-5">
                                                        <h2 class="card-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                                href="#collapse-5" aria-expanded="false"
                                                                aria-controls="collapse-5">
                                                                Credit Card (Stripe)
                                                                <img src="assets/images/payments-summary.png"
                                                                    alt="payments cards">
                                                            </a>
                                                        </h2>
                                                    </div><!-- End .card-header -->
                                                    <div id="collapse-5" class="collapse" aria-labelledby="heading-5"
                                                        data-parent="#accordion-payment">
                                                        <div class="card-body"> Donec nec justo eget felis facilisis
                                                            fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                            Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .collapse -->
                                                </div><!-- End .card -->
                                            </div><!-- End .accordion -->
        
                                            <button type="submit" id="placeOrder" onclick="placeOrder()"
                                                class="btn btn-outline-primary-2 btn-order btn-block">
                                                <span class="btn-text">Place Order</span>
                                                <span class="btn-hover-text">Proceed to Checkout</span>
                                            </button>
                                     
                                        </div><!-- End .summary -->
                                    </aside><!-- End .col-lg-3 -->
                                    <div class="col-lg-9 ">
                                    <div class="container">
                                        <form action="/addnewaddress" method="post">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label>Country *</label>
                                                    <input type="text" name="country" id="country" onkeyup="checkCountry(this)" class="form-control" required>
                                                   <p id="countryerror" style="display: none; color: red;">Please enter the country name</p>
                                                    <script>
                                                      function  checkCountry(inputTag){
                                                        const   addbtn = document.getElementById('add-address')
                                                        const err=  document.getElementById('countryerror')

                                                        console.log(inputTag.value.trim())
                                                        const input = inputTag.value.trim()
                                                        if(input.length>0){
                                                            console.log("asdidskdsik")
                                                            err.style.display="none"

                                                         
                                                         addbtn.disabled=false
                                                        }else{
                                                            console.log(223232323)
                                                            err.style.display="block"
                                                  
                                                         addbtn.disabled=true
                                                        }

                                                        }
                                                    </script>
                                                </div><!-- End .col-sm-6 -->
                                                <div class="col-sm-3">
                                                    <label>City *</label>
                                                    <input type="text" name="city" onkeyup="checkCity(this)" class="form-control" required>
                                                    <p id="cityerror" style="display: none; color: red;">Please enter the city name</p>
                                                    <script>
                                                        function  checkCity(inputTag){
                                                          const   addbtn = document.getElementById('add-address')
                                                          const err=  document.getElementById('cityerror')

                                                          console.log(inputTag.value.trim())
                                                          const input = inputTag.value.trim()
                                                          if(input.length>0){
                                                              console.log("asdidskdsik")
                                                              err.style.display="none"


                                                           
                                                           addbtn.disabled=false
                                                          }else{
                                                              console.log(223232323)
                                                              err.style.display="block"
                                                    
                                                           addbtn.disabled=true
                                                          }
  
                                                          }
                                                      </script>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Street Address *</label>
                                                    <input type="text" name="streetAddress" onkeyup="checkStreet(this)"  class="form-control" required>
                                                    <p id="Streeterror" style="display: none; color: red;">Please enter the Street name</p>
                                                    <script>
                                                        function  checkStreet(inputTag){
                                                          const   addbtn = document.getElementById('add-address')
                                                          const err=  document.getElementById('Streeterror')

                                                          console.log(inputTag.value.trim())
                                                          const input = inputTag.value.trim()
                                                          if(input.length>0){
                                                              console.log("asdidskdsik")
                                                              err.style.display="none"


                                                           
                                                           addbtn.disabled=false
                                                          }else{
                                                              console.log(223232323)
                                                              err.style.display="block"
                                                    
                                                           addbtn.disabled=true
                                                          }
  
                                                          }
                                                      </script>
                                                </div><!-- End .col-sm-8 -->
                                                <div class="col-sm-4">
                                                    <label>State *</label>
                                                    <input type="text" name="state" class="form-control" onkeyup="checkState(this)" required>
                                                    <p id="Stateerror" style="display: none; color: red;">Please enter the State name</p>
                                                    <script>
                                                        function  checkState(inputTag){
                                                          const   addbtn = document.getElementById('add-address')
                                                          const err=  document.getElementById('Stateerror')

                                                          console.log(inputTag.value.trim())
                                                          const input = inputTag.value.trim()
                                                          if(input.length>0){
                                                              console.log("asdidskdsik")
                                                              err.style.display="none"


                                                           
                                                           addbtn.disabled=false
                                                          }else{
                                                              console.log(223232323)
                                                              err.style.display="block"
                                                    
                                                           addbtn.disabled=true
                                                          }
  
                                                          }
                                                      </script>
                                                </div><!-- End .col-sm-4 -->
                                            </div><!-- End .row -->
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>Pincode *</label>
                                                    <input type="number" name="pincode"  onkeyup="checkPincode(this)" class="form-control">
                                                    <p id="Pincodeerror" style="display: none; color: red;">Please enter the pincode</p>
                                                    <script>
                                                        function  checkPincode(inputTag){
                                                          const   addbtn = document.getElementById('add-address')
                                                          const err=  document.getElementById('Pincodeerror')

                                                          console.log(inputTag.value.trim())
                                                          const input = inputTag.value.trim()
                                                          if(input.length>0&&input>0){
                                                              console.log("asdidskdsik")
                                                              err.style.display="none"


                                                           
                                                           addbtn.disabled=false
                                                          }else{
                                                              console.log(223232323)
                                                              err.style.display="block"
                                                    
                                                           addbtn.disabled=true
                                                          }
  
                                                          }
                                                      </script>
                                                </div><!-- End .col-sm-4 -->
                                                <div class="col-sm-4">
                                                    <label>Mobile *</label>
                                                    <input type="number" name="mobile" onkeyup="checkMobile(this)" class="form-control">
                                                    <p id="mobileNumbererror" style="display: none; color: red;">please enter 10 number</p>
                                                    <script>
                                                        function checkMobile(inputTag){
                                                            console.log("sdidskj")
                                                            const input= inputTag.value.trim()
                                                            const   addbtn = document.getElementById('add-address')

                                                            const mobileNumbererror = document.getElementById('mobileNumbererror')
                                                            console.log(mobileNumbererror)
                                                            console.log(input.length)
                                                            if(input.length<10){
                                                                mobileNumbererror.style.display="block"
                                                                addbtn.disabled=true


                                                            }else{
                                                                mobileNumbererror.style.display="none"
                                                                addbtn.disabled=false

                                                            }
                                                        }
                                                    </script>
                                                    <div class="col-sm-4">
                                                        <button type="submit" id="add-address" class="btn btn-outline-primary-2">
                                                            <span>Add Address</span>
                                                            <i class="icon-long-arrow-right"></i>
                                                        </button>
                                                    </div>
                                                </div><!-- End .col-sm-4 -->
                                              
                                            </div><!-- End .row -->
                                        </form>
                                    </div><!-- End .container -->
                                  

                                </div><!-- End .col-lg-9 -->
                            </div>
                            
                          
                        
                        </div><!-- End .row -->
                        
                       


                    </div><!-- End .container -->
                </div><!-- End .checkout -->
        </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105"
                                    height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>

                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="/cartView">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
        </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

        <div class="mobile-menu-container">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>

                <form action="#" method="get" class="mobile-search">
                    <label for="mobile-search" class="sr-only">Search</label>
                    <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                        placeholder="Search in..." required>
                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                </form>

                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li class="active">
                            <a href="index.html">Home</a>

                            <ul>

                            </ul>
                        </li>
                        <li>
                            <a href="category.html">Shop</a>
                            <ul>

                            </ul>
                        </li>
                        <li>
                            <a href="product.html" class="sf-with-ul">Product</a>
                            <ul>

                            </ul>
                        </li>
                        <li>
                            <a href="#">Pages</a>
                            <ul>
                                <li>


                                    <ul>

                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>

                                    <ul>

                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>

                            <ul>
                                <li><a href="blog.html">Classic</a></li>
                                <li><a href="blog-listing.html">Listing</a></li>
                                <li>
                                    <a href="#">Grid</a>
                                    <ul>
                                        <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                        <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                        <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                        <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Masonry</a>
                                    <ul>
                                        <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                        <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                        <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                        <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Mask</a>
                                    <ul>
                                        <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                        <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Single Post</a>
                                    <ul>
                                        <li><a href="single.html">Default with sidebar</a></li>
                                        <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                        <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="elements-list.html">Elements</a>
                            <ul>

                                <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav><!-- End .mobile-nav -->

            </div><!-- End .mobile-menu-wrapper -->
        </div><!-- End .mobile-menu-container -->

        <!-- Sign in / Register Modal -->
        <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="icon-close"></i></span>
                        </button>

                        <div class="form-box">
                            <div class="form-tab">
                                <ul class="nav nav-pills nav-fill" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                            role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="register-tab" data-toggle="tab" href="#register"
                                            role="tab" aria-controls="register" aria-selected="false">Register</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="tab-content-5">
                                    <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                        aria-labelledby="signin-tab">

                                    </div><!-- End .col-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .form-choice -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">

                        </div><!-- End .col-6 -->
                    </div><!-- End .row -->
                </div><!-- End .form-choice -->
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->
        </div><!-- End .form-tab -->
        </div><!-- End .form-box -->
        </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
        </div><!-- End .modal -->

        <!-- Plugins JS File -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Main JS File -->
        <script src="assets/js/main.js"></script>
    </body>

    <script>
        function placeOrder() {
            
            const totalPrice= document.getElementById('totalPrice').innerText.replace('$','')
            console.log(totalPrice)
            const placeOrderBtn = document.getElementById('placeOrder')
            placeOrderBtn.addEventListener('click',function(e){
                e.preventDefault()
                const selectedPaymentMethod = document.querySelector('input[name="method"]:checked').value
               

                    console.log(selectedPaymentMethod)
                    const paymentMethod = 'Cash on delivery'
                    const address_id = document.getElementById('addressSelect').value
                    console.log("placeholder=================================")
                    console.log(address)
                    
                    console.log("dsfjuerjsjjeajjn")
                    fetch('/placeOrder', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ paymentMethod:selectedPaymentMethod, totalPrice, address_id })
                        
                        
                    }).then(res => res.json()).then(data => {
                        if (data.status==true) {
                            Swal.fire({
                                icon: 'success',
                                title: 'place order success',
                                customClass: {
                                    popup: "custom-popup-class",
                                    header: 'custom-header-class',
                                    content: 'custom-content-class', // Corrected typo here
                                    confirmButton: 'custom-confirm-button-class' // Corrected class name here
                                }
                            });
                            
                        
                    }else if(data.razorpayOrder){
                        console.log("sdfkl,fsdcklxmfsdkcm,fksdmc,")
                        razorpayPayment(data.razorpayOrder)

                        
                    }})
                    
                    
              


                
                })
        }
        function razorpayPayment(order){
            const option = {
                    key:"rzp_test_E5WE0z0SgB6EwW",
                    amount: order.amount*100,
                    currency: order.currency,
                    name: 'molla',
                    description: 'Purchase Description',
                    order_id: order.id,
                    handler: function(response) {
                        // Handle the success response here
                        console.log('Payment successful:', response);
                        alert(response.razorpay_payment_id)
                        alert(response.razorpay_order_id)
                        alert(response.razorpay_signature)
                        // verifyPayment(response,order)
                        // Redirect or show success message
                    },
                    prefill: {
                        name: 'Customer Name',
                        email: 'customer@example.com',
                        contact: '9999999999'
                    },
                    notes: {
                        address: 'Customer Address'
                    },
                    theme: {
                        color: '#3399cc'
                    }
                };
                const rzp1 = new  Razorpay(option);
                rzp1.open()
            }

        
        
    </script>
    <script>
       function couponId(id,totalPrice){
        const userTypeID= id.value.trim()
        const error = document.getElementById('error')
        error.style.display='none'
        console.log(error)
        if(userTypeID.length>5&&userTypeID.length<7){

            console.log(id.value)
            fetch('/checkCopon',{
                method:'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ userTypeID ,totalPrice})
                
                
            }).then(res => res.json()).then(data => {
                if (data.status==true) {
                    
                    const totalPrice= document.getElementById('totalPrice').innerText=`$${data.offerPrice}`;
                   
                    console.log(data.offerPrice)
                    console.log("yes")
                    Swal.fire({
                        icon: 'success',
                        title: 'the offer is succes',
                        customClass: {
                            popup: "custom-popup-class",
                            header: 'custom-header-class',
                            content: 'custom-content-class', // Corrected typo here
                            confirmButton: 'custom-confirm-button-class' // Corrected class name here
                        }
                    });
                    
                    
                }else if(data.status){
                    document.getElementById('checkout-discount-input').innerText=''
                    error.style.display='block'
                    error.innerHTML=data.status

                    
                    
                }
                
                
            })
            
        }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    

    <!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->

    </html>